[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
lz4 = "*"
click = "*"
eet = {editable = true, git = "https://github.com/mctavishmcardle/eet"}

[dev-packages]
ftl = {editable = true, path = "."}
isort = "*"
black = "==20.8b1"

[requires]
python_version = "3.8"
